.project-img{
    height: 150px;
    width: 150px;
}

.logo{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 10px;
}

.nameplate{
   text-align: center;
   margin: 0;
}

body{
    font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black;
    background-color: salmon;
}

header, main, .intro, .gallery, .about-text, .project-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container{
    background-image: url(../img/overlay-kelly-sikkema-506335-unsplash.jpg);
}
footer, .social{
    display: flex;
    flex-direction: row;
}

footer{
    justify-content: center;
    height: 30%;
}

.social{
    justify-content: space-between;
    width: 40%;
    font-size: 35px;
    margin: 15px;
}

.greeting{
    text-align: center;
    margin: 25px;
}

.about{
    text-align: center;
    width: 90%;
}

.click-for-more{
    font-size: 18px;
}

.project-intro{
    text-align: center;
}

.projects{
    margin-bottom: 30px;
}

@media screen and (min-width: 500px) and (max-width: 599px){
    .project-title{
        font-size: larger;
    }

    .project-title{
        font-size: x-large;
    }
}

@media screen and (min-width: 600px){
    header{
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 2px solid black;
    }

    .logo, .nameplate{
        align-self: center;
    }

    h1{
    margin:0;
    }
    .nameplate{
        margin: 15px;
    }

    .gallery{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .project-img{
        height: 150px;
        width: 150px;
    }

    .project-card{
        text-align: center;
        margin: 20px;
        white-space: nowrap;
    }
}

